{% extends "layouts/base.html" %}

{% block body %}
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<div class="card text-center">
    <div class="card-body">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <h1 class="text-black"><strong>WORK CITED</strong></h1>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    </div>
</div>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<div class="card text-left">
    <div class="card-body">
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <h2 class="card-text"><strong>Buckley, John. "Airplanes." Gale eBooks, 2006,</strong></h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go.gale.com/ps/retrieve.do?tabID=T003&resultListType=RESULT_LIST&searchResults</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type=SingleTab&hitCount=399&searchType=BasicSearchForm&currentPosition=1&do</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cId=GALE%7CCX3446900022&docType=Topic+overview&sort=Relevance&contentSe</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gment=&prodId=GVRL&pageNum=1&contentSet=GALE%7CCX3446900022&searchI</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d=R1&userGroupName=powa9245&inPS=true. Accessed 23 Feb. 2023.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes were invented in 1903 by brothers, which were then used in World War</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 and other battles to destroy enemy territory and gather information on enemies.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes quickly advanced when World War 1 started, and are now used to </strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;travel. The military uses different types of planes to fight in wars.</strong></p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  </div>
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  <div class="card text-left">
    <div class="card-body">
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <h2 class="card-text"><strong>Elsbury, Will. "The Machine Gun: Its History, Development and Use: A Resource Guide." </strong></h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go.gale.com/ps/retrieve.do?tabID=T003&resultListType=RESULT_LIST&searchResults</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type=SingleTab&hitCount=399&searchType=BasicSearchForm&currentPosition=1&do</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cId=GALE%7CCX3446900022&docType=Topic+overview&sort=Relevance&contentSe</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gment=&prodId=GVRL&pageNum=1&contentSet=GALE%7CCX3446900022&searchI</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d=R1&userGroupName=powa9245&inPS=true. Accessed 23 Feb. 2023.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes were invented in 1903 by brothers, which were then used in World War</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 and other battles to destroy enemy territory and gather information on enemies.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes quickly advanced when World War 1 started, and are now used to </strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;travel. The military uses different types of planes to fight in wars.</strong></p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  </div>
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  <div class="card text-left">
    <div class="card-body">
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <h2 class="card-text"><strong>"Hiram Maxim." Who Made America?, Public Broadcasting Service, </strong></h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go.gale.com/ps/retrieve.do?tabID=T003&resultListType=RESULT_LIST&searchResults</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type=SingleTab&hitCount=399&searchType=BasicSearchForm&currentPosition=1&do</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cId=GALE%7CCX3446900022&docType=Topic+overview&sort=Relevance&contentSe</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gment=&prodId=GVRL&pageNum=1&contentSet=GALE%7CCX3446900022&searchI</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d=R1&userGroupName=powa9245&inPS=true. Accessed 23 Feb. 2023.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes were invented in 1903 by brothers, which were then used in World War</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 and other battles to destroy enemy territory and gather information on enemies.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes quickly advanced when World War 1 started, and are now used to </strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;travel. The military uses different types of planes to fight in wars.</strong></p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  </div>
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  <div class="card text-left">
    <div class="card-body">
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <h2 class="card-text"><strong>"The Past, Present and Future of the Chemical Weapons Convention." Arms Control Association, </strong></h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go.gale.com/ps/retrieve.do?tabID=T003&resultListType=RESULT_LIST&searchResults</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type=SingleTab&hitCount=399&searchType=BasicSearchForm&currentPosition=1&do</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cId=GALE%7CCX3446900022&docType=Topic+overview&sort=Relevance&contentSe</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gment=&prodId=GVRL&pageNum=1&contentSet=GALE%7CCX3446900022&searchI</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d=R1&userGroupName=powa9245&inPS=true. Accessed 23 Feb. 2023.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes were invented in 1903 by brothers, which were then used in World War</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 and other battles to destroy enemy territory and gather information on enemies.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes quickly advanced when World War 1 started, and are now used to </strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;travel. The military uses different types of planes to fight in wars.</strong></p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  </div>
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  <div class="card text-left">
    <div class="card-body">
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <h2 class="card-text"><strong>Rabbitt Roff, Sue. "The Use of Poison Gases in the First World War." Edited by Neil Schlager </strong></h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;go.gale.com/ps/retrieve.do?tabID=T003&resultListType=RESULT_LIST&searchResults</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type=SingleTab&hitCount=399&searchType=BasicSearchForm&currentPosition=1&do</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cId=GALE%7CCX3446900022&docType=Topic+overview&sort=Relevance&contentSe</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gment=&prodId=GVRL&pageNum=1&contentSet=GALE%7CCX3446900022&searchI</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d=R1&userGroupName=powa9245&inPS=true. Accessed 23 Feb. 2023.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes were invented in 1903 by brothers, which were then used in World War</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 and other battles to destroy enemy territory and gather information on enemies.</strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airplanes quickly advanced when World War 1 started, and are now used to </strong></p>
      <p class="card-text"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;travel. The military uses different types of planes to fight in wars.</strong></p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  </div>
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
{% endblock %}